p {
    color: gold;
    width: auto;
    border: 1px solid black;
    background-color: gray;
    text-align: center;

  }

  /**

the inital letter, such as p, means that <p> elements are affected. 
Change it to affect different elements

color: red;, specifies which of the elemnts properties you want to style

color:, called a property, ways you can style an HTML element.
Color is a property of the <p> element. In CSS, you choose which properties you affect in the rule

    Property value, after the colon, chooses one out of many possible appearances for a given property

Rules: 
-rulesets much be wrapped in curly braces  
-Each declaration, you must use a colon to separate the property from its value/s 
-use semicolon to separate each declaration

Selector Cheat Seat (https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics)
**/



h1 {
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #000
}

/*

First pixle is the horizontal offset
Second pixel is the vertical offset
Third pixel is the blur radius

*/
html {
  font-family: sans-serif;
  height: 100%;
  background-image: linear-gradient(35deg, rgba(232, 234, 237,1), rgba(153, 157, 255,0.5)); 
}

body {
  background-color: rgb(26, 109, 204);
  width: 600px;   
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 10px solid #0033cc;
  border-radius: 20px;
}

/*

Works in Boxes, external box is called margin,
inside is the border, the solid line around padding
padding is the space inside the border 
and arround paragraph text

*/

hr {
  color: white;
}

#ChangeUser {
  margin-left: 255px;
}

img {
  display: block;
  margin: 0 auto;
}

 .gray-background {
  border-color:black;
  border-width: 20px;  
  margin: auto 240px auto 240px;
 }

 p {
   margin: 20px 120px 20px 120px;
   text-transform: capitalize;
   padding: 10px 20% auto 20%;
 }
 

 #FormElement { 
   background-color: gray;
   margin: auto 120px auto 120px;
   border-color: black;
   border-width: 20px;
 } 
 #WorkingLink {
  opacity: 0.3;
}

#navbar {
  position: fixed;
  background-color: #767676;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}

#testButton {
    padding-left: 30px;
}

nav ul{
  display: fixed;
  margin-top: 4px;
}

#left{
    left: 0px;
    float: left;
}

#right{
    float: right;
    right: 0px;
}

.LeftRight{
  top: 230px;
  font-size: 16px;
  position: fixed;
  width: 40%;
  border-width: 10px;
  border-color: black;
  border-style: dotted;
  text-align: center;
}

section{
    background-color: gray;
    margin: 20px 20px;
    padding-left: 40px;
    padding-right: 5px;
    padding: 20px 75px 20px 25px;
}

h3, h2 {
  text-align: center;
}

#ChangeUser {
  text-align: center;
}

.ball {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    35deg,
    #ccffff,
    #ffcccc
  );
  border-radius: 50%;
}
#ball1 {
  left: 20%;
}
#ball2 {
  left: 80%;
}

/*
Use z-index to layer overlapping elements, higher values
moves it higher then lower values
*/